/* Custom Giao diện Dark Mode */
.bg-dark { background-color: #121212 !important; }
.bg-secondary { background-color: #181818 !important; }
.bg-black { background-color: #000000 !important; }

/* Hiệu ứng hover vào card bài hát */
.project-card-hover .btn-play-now {
    opacity: 0;
    transition: all 0.3s ease;
    transform: translateY(10px);
}
.project-card-hover:hover .btn-play-now {
    opacity: 1;
    transform: translateY(0);
}